p{
    color: red;
    text-align: justify;
}

h1{
    color: blue; /*cor da fonte*/
    text-align: center; /*alinhamento do texto */
    font-size: 30px; /*tamanho da fonte*/
}

#paragrafo1{
    color: aqua;
}
#paragrafo2{
    background-color: aqua;
}
.amarelo{
    color: rgb(255,0,0);
    background-color: rgb(255,255,0);
}
.imagens{
    background-color: red;
    padding: 25px;
    max-width: 50%;
    max-height: 50%;

}
#principal{
    background-color: beige;
}
#poesia{
    background-color: gainsboro;
}
#itens{
    background-color: beige;
}
header{
    font-size: 32px;
    background-color: dodgerblue;
    color: whitesmoke;
    padding: 20px;
    border-bottom: 5px red;
}
#logo{
    background-image: url("Volkswagen_logo_2019.svg.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    min-height: 100px;
    padding-left: 100px; 
    display: inline-block;
    vertical-align: middle;
}
#menu{
    display: inline-block;
    min-height: 20px;
    font-size: 20px;
}