p{
    color: red;
    text-align: justify;
}

h1{
    color: blue; /*cor da fonte*/
    text-align: center; /*alinhamento do texto */
    font-size: 30px; /*tamanho da fonte*/
}

#paragrafo1{
    color: aqua;
}
#paragrafo2{
    background-color: aqua;
}
.amarelo{
    color: rgb(255,0,0);
    background-color: rgb(255,255,0);
}
.imagem{
    background-color: brown;   
    padding: 25px;
    max-width: 70%;
    max-height: 70%;
}